@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


/* ---------------------------- */
/* ------estilos globales------ */
/* ---------------------------- */
:root{
    --red: #e12c2c;
    --yellow: #ffc809;
    --light-gray: #959595;
    --dark-gray: #333;
    --white: #f7f7f7;
    --border: .2rem solid var(--light-gray);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition:all .2s linear;
}

*::selection{
    background:var(--red);
    color:var(--white);
}

::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--red);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    background: var(--white);
}

section{
    padding: 2rem;
    margin: 0 auto;
    max-width: 1300px;
}


.title{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: var(--light-gray);
    text-transform: uppercase;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex-flow: column;
    background-color: var(--white);
    min-height: 20rem;
}

.heading h3{
    font-size: 5rem;
    color: var(--dark-gray);
    text-transform: capitalize;
}

.heading p{
    font-size: 2.3rem;
}

.heading p a{
    color: var(--red);
    text-decoration: none;
}

.heading p a:hover{
    color: var(--yellow);
    text-decoration: underline;
}

.heading p span{
    color: var(--light-gray);
}

.btn, .delete-btn{
    margin-right: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

.btn{
    border: .2rem solid var(--red);
    color: var(--red);
}

.delete-btn{
    border: .2rem solid var(--light-gray);
    color: var(--light-gray);
}

.btn::before{
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 0%;
    height: 100%;
    background: var(--red);
    transition: .3s linear;
    z-index: -1;
}

.delete-btn::before{    
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 0%;
    height: 100%;
    background: var(--light-gray);
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before, .delete-btn:hover::before{
    width: 100%;
    left: 0;
}

.btn:hover{
    color: var(--yellow);    
    font-weight: bold;
}

.delete-btn:hover{
    color: var(--dark-gray);    
    font-weight: bold;
}

.empty{
    border:var(--border);
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    color: var(--red);
    text-transform: capitalize;
    width: 100%;
}

.disabled{
    opacity: .5;
    user-select: none;
    pointer-events: none;
}

.message{
    position: absolute;
    top: 25px;
    left: 50px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap:1rem;
    justify-content: space-between;
    background-color: var(--red);
    border-radius: 15px;    
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.8);
    z-index: 1500;
}

.message span{
    font-size: 2rem;
    color: var(--yellow);
    font-weight: bold;
}

.message i{
    font-size: 2.5rem;
    color: var(--yellow);
    cursor: pointer;
    transition: .2s linear;
}

.message i:hover{
    transform: rotate(90deg);
}


/* ------------------ */
/* ------header------ */
/* ------------------ */
header{
    position: sticky;
    top: 0; left: 0;
    z-index: 100;
    background: var(--yellow);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .flex{    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header .flex .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--dark-gray);
}

header .flex  .logo img{
    padding-right: .5rem;
    padding-left: 2rem;
}


header .flex  .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--dark-gray);
}

header .flex  .navbar a:hover{
    color:var(--red)
}

header .flex  .navbar span{
    font-size: 1.5rem;
}

header .flex  .icons >*{
    font-size: 2.2rem;
    color: var(--dark-gray);
    cursor: pointer;
    margin-left: 1.5rem;
}

header .flex  .icons span{
    font-size: 1.8rem;
}

header .flex  .icons >*:hover{
    color:var(--red)
}

header .flex  .profile{
    position: absolute;
    top: 120%; right: 2rem;
    border: var(--border);
    background-color: var(--white);
    padding: 1rem;
    text-align: center;
    width: 30rem;
    display: none;
    animation: fadeIn .2s linear;
}

@keyframes fadeIn {
    0%{
        transform: translateY(-1rem);
    }
}

header .flex  .profile.active{
    display: inline-block;
}

header .flex  .profile .name{
    margin-bottom: .5rem;
    font-size: 2rem;
    color: var(--dark-gray);
}

header .flex  .profile .account{
    margin-top: 2rem;
    font-size: 1.5rem;
    color: var(--light-gray);
}

header .flex  .profile .account a{
    color: var(--dark-gray);
}

header .flex  .profile .account a:hover{
    color: var(--yellow);
    text-decoration: underline;    
    font-weight: bold;
}

#menu-bar{
    font-size: 2.2rem;
    cursor: pointer;
    color: #666;
    display: none;
}


/* ---------------- */
/* ------home------ */
/* ---------------- */

.home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    background: url(../images/home_bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    flex: 1 1 40rem;
    padding-left: 6.5rem;
}

.home .image{
    flex: 1 1 40rem;    
    margin-bottom: 6rem;
    padding-right: 2rem;
}

.home .image img{
    width: 100%;
    padding: 2rem;
    animation: float 3s linear infinite;
}
@keyframes float{
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(3rem);
    }
}

.home .content h3{
    font-size: 4rem;
    color: var(--dark-gray);
}

.home .content p{    
    font-size: 1.7rem;
    color: var(--light-gray);
    padding: 1rem 0;
}

/* -------------------- */
/* ------category------ */
/* -------------------- */
.category .box_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    padding-bottom: 8rem;
}

.category .box_container .box{
    border: .2rem solid var(--light-gray);
    padding: 2rem;  
    border-radius: .5rem;
    text-align: center; 
}

.category .box_container .box img{
    width: 100%;
    height: 10rem;
    object-fit: contain;
}

.category .box_container .box h3{
    font-size: 2rem;
    margin-top: 1.5rem;
    color: var(--dark-gray);  
    text-transform: capitalize;
}

.category .box_container .box:hover{
    background-color: var(--red);
    border: .2rem solid var(--red);
}

.category .box_container .box:hover img{
    filter: invert(1);
}


.category .box_container .box:hover h3{
    color: #fff;
}

/* --------------------- */
/* ------productos------ */
/* --------------------- */
.products .box-container{    
    display: grid;
    grid-template-columns: repeat(auto-fit, 32rem);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.products .box-container .box{
    padding: 2rem;
    position: relative;
    border: var(--border);    
    border-radius: .5rem;
    overflow: hidden;
}

.products .box-container .box .image{
    height: 25rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.products .box-container .box .fa-eye, 
.products .box-container .box .fa-shopping-cart{
    position: absolute;
    top: 1rem;
    height: 3.6rem;
    width: 3.6rem;
    cursor: pointer;
    font-size: 1.5rem;
    border: var(--border);
    border-radius: .5rem;
    background-color: var(--white);    
    color: var(--light-gray);
    line-height: 3.3rem;
    text-align: center;
    transition: .2s linear;
}

.products .box-container .box .fa-eye:hover, .products .box-container .box .fa-shopping-cart:hover{
    border: var(--red);
    background-color: var(--red);
    color: var(--yellow);
}

.products .box-container .box .fa-eye{
    left: -10rem;
}

.products .box-container .box:hover .fa-eye{
    left: 2rem;
}

.products .box-container .box .fa-shopping-cart{
    right: -10rem;
}

.products .box-container .box:hover .fa-shopping-cart{
    right: 2rem;
}

.products .box-container .box .cat{
    font-size: 1.8rem;
    color: var(--light-gray);
}

.products .box-container .box .cat:hover{
    color: var(--red);
    text-decoration: underline;    
    font-weight: 600;
}

.products .box-container .box .name{
    font-size: 2rem;
    color: var(--dark-gray);
    margin: 1rem 0;
    font-weight: 700;
}

.products .box-container .box .flex{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.products .box-container .box .flex .price{
    font-size: 2rem;
    color: var(--dark-gray);
    margin-right: auto;
}

.products .box-container .box .flex .price span{
    font-size: 2rem;
    color: var(--light-gray);

}

.products .box-container .box .flex .qty{
    padding: .5rem;
    border: var(--border);
    border-radius: .5rem;
    font-size: 1.8rem;
    color: var(--dark-gray);
    background-color: var(--white);
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.about .row .image{
    flex:1 1 40rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex:1 1 40rem;
    text-align: center;
}

.about .row .content h3{
    font-size: 3rem;
    color:var(--black);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.about .row .content p{
    padding:1rem 0;
    line-height: 2;
    font-size: 1.6rem;
    color:var(--light-color);
}

.steps .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
}

.steps .box-container .box{
    text-align: center;
    border:var(--border);
    padding:2rem;
}

.steps .box-container .box img{
    height: 15rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.steps .box-container .box h3{
    font-size: 2.3rem;
    margin:1rem 0;
    color:var(--black);
    text-transform: capitalize;
}

.steps .box-container .box p{
    line-height: 2;
    font-size: 1.6rem;
    color:var(--light-color);
}

.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.contact .row .image{
    flex:1 1 40rem;
}

.contact .row .image img{
    width: 100%;
}

.contact .row form{
    border:var(--border);
    flex:1 1 40rem;
    padding:2rem;
    text-align: center;
}

.contact .row form h3{
    font-size: 2.5rem;
    color:var(--black);
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.contact .row form .box{
    margin:.7rem 0;
    font-size: 1.8rem;
    color:var(--black);
    border:var(--border);
    padding:1.4rem;
    width: 100%;
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

.search-form form{
    display: flex;
    gap:1.3rem;
}

.search-form form .box{
    width: 100%;
    border:var(--border);
    padding:1.4rem;
    font-size: 1.8rem;
    color:var(--black);
}

.search-form form .fa-search{
    width: 6rem;
    background-color: var(--black);
    color:var(--white);
    cursor: pointer;
    font-size: 2.5rem;
}

.search-form form .fa-search:hover{
    background-color: var(--yellow);
    color:var(--black);
}

.products .box-container .box .flex .fa-edit{
    width: 3rem;    
    border-radius: .5rem;
    background-color: var(--white);    
    color: var(--dark-gray);
    cursor: pointer;
    font-size: 1.5rem;
    height: 3rem;
    border:var(--border);
}

.products .box-container .box .flex .fa-edit:hover{
    border: .2rem solid var(--yellow);
    background-color: var(--yellow);
    color:var(--red);
}

.products .box-container .box .fa-times{
    position: absolute;
    top:1rem; right:1rem;    
    border-radius: .5rem;
    background-color: var(--white);
    color:var(--light-gray);
    border:var(--border);
    line-height: 3rem;
    height: 3.5rem;
    width: 3.5rem;
    cursor: pointer;
    font-size: 1.8rem;
}

.products .box-container .box .fa-times:hover{
    border: .2rem solid var(--yellow);
    background-color: var(--yellow);
    color:var(--red);
}

.products .box-container .box .sub-total{
    margin-top: 1rem;
    font-size: 1.8rem;
    color:var(--light-gray); 
}

.products .box-container .box .sub-total span{
    color:var(--red);
}

.products .more-btn{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
}

.products .cart-total{
    display: flex;
    align-items: center;
    gap:1.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
    border:var(--border);
    border-radius: 1rem;
    padding: 1rem;
}

.products .cart-total p{
    font-size: 3rem;
    color:var(--light-gray);
    padding-left: 2.5rem;
}

.products .cart-total p span{
    color:var(--red);       
    font-weight: bold;
}

.products .cart-total .btn{
    margin-top: 0;
}

/* ---------------------- */
/* ------quick-view------ */
/* ---------------------- */
.quick-view form{
    max-width: 40rem;
    padding:2rem;
    border:var(--border);    
    border-radius: 1rem;
    position: relative;
    margin:0 auto;
    margin-bottom: 50px;
}

.quick-view form img{
    height: 25rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.quick-view form .cat{
    font-size: 1.8rem;
    color:var(--light-gray);
}

.quick-view form .cat:hover{
    color:var(--red);
    text-decoration: underline;
    font-weight: 600;
}

.quick-view form .name{
    font-size: 3rem;
    margin:.5rem 0;
    color: var(--dark-gray);
    font-weight: 700;
}

.quick-view form .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1.5rem;
    margin:1rem 0;
}

.quick-view form .flex .price{
    font-size: 2.5rem;
    color:var(--dark-gray);
}

.quick-view form .flex .price span{
    font-size: 2rem;
    color:var(--light-gray);
}

.quick-view form .flex .qty{
    border:var(--border);
    padding:1rem;
    font-size: 1.8rem;
    color:var(--dark-gray);
}

.quick-view form .btn{
    width: 100%;
    padding:1rem 3rem;
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    margin-top: 1rem;
}

/* ---------------------*/
/* ------checkout------ */
/* ---------------------*/

.checkout form{
    max-width: 50rem;
    margin:0 auto;
    border:var(--border);
    padding:2rem;
    border-radius: 10px;
}

.checkout form h3{
    font-size: 2.5rem;
    text-transform: capitalize;
    padding: 2rem 0;
    color:var(--dark-gray);
}

.checkout form .cart-items{
    background-color: #dbdbdb;
    padding:2rem;
    padding-top: 0;
    border-radius: 10px;
}

.checkout form .cart-items h3{
    color:var(--red);
}

.checkout form .cart-items p{
    display: flex;
    align-items: center;
    gap:1.5rem;
    justify-content: space-between;
    margin:1rem 0;
    line-height: 1.5;
    font-size: 2rem;
}

.checkout form .cart-items p .name{
    color:var(--dark-gray);
}

.checkout form .cart-items p .price{
    color:var(--dark-gray);    
}

.checkout form .cart-items .grand-total{
    background-color: var(--red);
    padding:.5rem 1.5rem;
}

.checkout form .cart-items .grand-total .price{
    color:var(--yellow);    
    font-weight: 700;
}

.checkout form .user-info h3{
    color:var(--dark-gray);
    margin: 1rem 0;
    text-transform: capitalize;
    font-size: 2.5rem;
}

.checkout form .user-info p{ 
    font-size: 1.8rem;
    line-height: 1.5;
    padding: 1rem 0;
}

.checkout form .user-info p i{
    color: var(--light-gray);
    margin-right: 1rem;
}

.checkout form .user-info p span{
    color: var(--dark-gray);
}

.checkout form .user-info .box{
    width: 100%;
    border: var(--border);
    padding: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: var(--dark-gray);    
    border-radius: 10px;
}

/* -------------------- */
/* ------pedidos------ */
/* -------------------- */

.orders .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: flex-start;
}

.orders .box-container .box{
    padding:1rem 2rem;
    border:var(--border);
    flex:1 1 40rem;
    border-radius: 10px;
}

.orders .box-container .box p{
    line-height: 1.5;
    margin:1rem 0;
    font-size: 2rem;
    color:var(--light-gray);
}

.orders .box-container .box p span{
    color:var(--dark-gray);
}



/* Estilos para el formulario */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-bottom: 35px;
}

.form-container form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
}

.form-container form h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.form-container form input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

.form-container form input[type="submit"] {
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
    font-weight: bold;
}

.form-container form p {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.form-container form p a{
    color: var(--light-gray);
}

.form-container form p a:hover{
    text-decoration: underline;
    color: var(--red);    
    font-weight: bold;
}


.user-details {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin-bottom: 35px;
}

.user {
    text-align: center;
    background: var(--white);
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
}

.user img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 20px;
    object-fit: cover;
}

.user p {
    font-size: 18px;
    margin: 10px 0;
}

.user .btn {
    background-color: var(--red);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.user .btn:hover {
    background-color: var(--yellow);
}

.user .address {
    color: var(--light-gray);
    font-style: italic;
}

/* ------------------ */
/* ------footer------ */
/* ------------------ */
.footer{
    margin-top: 20px;
    text-align: center;
    background: linear-gradient(transparent, #dbdbdb);
}

.footer .links a{
    margin: 1rem;
}

.footer .credit{
    padding-top: 2rem;    
    font-size: 1.7rem;
}

.footer .credit span{
    color: var(--red);
}










/* -------------- */
/* media queries */
/* -------------- */

@media(max-width:991px){
    html{
        font-size: 55%;
    }
}

@media(max-width:768px){
    #menu-bar{
        display: inline-block;
    }

    header .flex  .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: var(--white);
        border-top: .1rem solid rgba(0,0,0,.1);
        transition: .1s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .flex  .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .flex .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0,0,0,.1);
        border-left: .5rem solid var(--red);
        background: var(--white);
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }

    .title{
        font-size: 3rem;
    }

    .heading h3{
        font-size: 4rem;
    }

    header .flex .logo{
        font-size: 2rem;
    }

    header .flex  .logo img{
        height: 2rem;
    }

    .products .box-container{
        grid-template-columns: 1fr;
    }
}