@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

/* estilos globales */
:root{
    --red: #e12c2c;
    --yellow: #ffc809;
    --light-gray: #666;
    --dark-gray: #333;
    --white: #f7f7f7;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition:all .2s linear;
}

*::selection{
    background:var(--red);
    color:var(--white);
}

::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--red);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    background: var(--white);
}

section{
    padding: 13rem 9%;
}


.title{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    color: var(--light-gray);
    text-transform: uppercase;
}


.btn{
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

.btn::before{
    content: '';
    position: absolute;
    top: 0; right: 0;
    width: 0%;
    height: 100%;
    background: var(--red);
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before{
    width: 100%;
    left: 0;
}

.btn:hover{
    color: var(--yellow);
}

/* header */
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--yellow);
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--light-gray);
}

header .logo img{
    padding-right: .5rem;
}


header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--light-gray);
}

header .navbar a:hover{
    color:var(--red)
}

#menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: .1rem solid var(--light-gray);
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}